<section
  class="w-screen h-668px bg-hero-pattern bg-cover bg-no-repeat bg-center"
>
  <div class="container h-full mx-auto flex">
    <div
      class="w-full flex items-center justify-center self-end pb-12"
    >
      <span class="icon-down"></span>
    </div>
  </div>
</section>

<section
  class="container mx-auto flex flex-col content-center justify-center py-16 px-16"
>
  <h2 class="text-black text-3xl leading-10 font-bold text-center">
    Acreditamos que o bom design é capaz de propor novos significados
    ao dia a dia e transformar de forma prazerosa a relação das
    pessoas.
  </h2>

  <div class="py-12 px-10">
    <p class="text-sm text-primary text-center leading-5">
      Nosso desejo é maximizar momentos em que sentir-se bem,
      confortável e seguro vire rotina. Por isso para nós, o bom
      design é inovador, sustentável e tem o olhar atento às pessoas.
      Temos o compromisso de gerar vínculos duradouros e multiplicar
      boas experiências, para que seja possível viver o melhor da vida
      através da água. Se você se identificou com o nosso propósito,
      venham trabalhar com a gente
    </p>
    <br />
    <p class="text-sm text-primary text-center leading-5">
      Desde 1956, exercemos nossas atividades com base no
      empreendedorismo, desenvolvimento tecnológico e preservação ao
      meio ambiente. Com o lema “Viva a Água”, trabalhamos diariamente
      para o uso consciente do nosso bem mais precioso.
    </p>
    <br />
    <p class="text-sm text-primary text-center leading-5">
      No segmento de metais sanitários, somos líderes em produtos
      economizadores de água e a maior empresa exportadora da América
      Latina, com presença em mais de 40 países.
    </p>
    <br />
    <p class="text-sm text-primary text-center leading-5">
      Aqui na Docol, fomentamos que os próprios funcionários criem e
      se engajem a desenvolver inovações, por meio dos laboratórios de
      Inovação dentro da própria empresa.
    </p>
    <br />
    <p class="text-sm text-primary text-center leading-5">
      Se você se identificou com o nosso propósito e gostaria de
      incentivar as pessoas a viverem o melhor da vida através da
      água, venha trabalhar com a gente!
    </p>
  </div>

  <a
    class="w-2/5 self-center transition duration-700 ease-in-out text-sm bg-secondary hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-sm text-center shadow-xl"
    href="#"
    target="_blank"
    rel="noopener noreferrer"
  >
    CONSULTE NOSSAS VAGAS EM ABERTO
  </a>
</section>

<section
  class="container mx-auto grid grid-cols-3 grid-rows-work-with-us grid-flow-row gap-5"
>
  <div class="col-span-1 row-span-1">
    <img
      class="w-full"
      src="../assets/images/grid-01.png"
      alt="Pessoa"
    />
  </div>
  <div class="col-span-1 row-span-1">
    <img
      class="w-full"
      src="../assets/images/grid-02.png"
      alt="Pessoa"
    />
  </div>
  <div class="col-span-1 row-span-2">
    <img
      class="w-full h-full"
      src="../assets/images/grid-04.png"
      alt="Pessoa"
    />
  </div>
  <div class="col-span-2 row-span-2">
    <img
      class="w-full"
      src="../assets/images/grid-03.png"
      alt="Pessoa"
    />
  </div>
</section>
